- 
    const data = { 
        title: "It's awesome framework for Tistory Skin",
        subTitle: 'With Webpack, Pug, Less', 
        logoPath: "./images/favicon.png",
        tidory: "Tidory" 
    }
    const refs = [
        { text:"Introduction",  href:"http://tidory.com/" }, 
        { text:"Get Started",  href:"http://tidory.com/docs/get-started/" },
        { text:"Documents",  href:"http://tidory.com/docs/introduction/" },
        { text:"Github",  href:"https://github.com/pronist/tidory" }
    ]

div#HelloWorld
    div.hello-world-inner
        h1.title #{data.title}
        h2.subtitle #{data.subTitle}
        div.logo
            img(src=data.logoPath)
        h2.tev(class="animated infinite rubberBand") #{data.tidory}
        div.refs
            each r in refs
                span
                    a(href=r.href)=r.text